.container-pay-export-page {
  background-color: #085484;
  width: 100%;
  min-height: 100vh;
}

.sign-out-text {
  color: #2b86b6;
  font-size: medium;
  font-weight: bold;
}

.welcome-label {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.userinfo_avt-container {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16a44a;
}

.userinfo_avt-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.userinfo_edit-text-action {
  color: #2b86b6;
  font-size: medium;
  font-weight: bold;
  margin-top: 4px;
}

.userinfo_user-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.userinfo_user-subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.userinfo_user-dscription {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
