@import "../Cpps_FontsStyles.scss";

.sa-tmpl-dashboard {
  background-size: cover;
  background-image: url(../../assets/BrianTraining/bg-dashboard.jpg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: repeat-x;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(8, 84, 133);
  min-height: 825px;
}

// Header
.sa-global-gradient {
  position: relative;
  background-color: #075484;
  background-image: -webkit-linear-gradient(
    left,
    #075484,
    #007dbc 72%,
    #60cef1
  );
  background-image: -o-linear-gradient(left, #075484, #007dbc 72%, #60cef1);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#075484),
    color-stop(72%, #007dbc),
    to(#60cef1)
  );
  background-image: linear-gradient(to right, #075484, #007dbc 72%, #60cef1);
  background-repeat: no-repeat;
}

.sa-header-global {
  max-width: 1800px;
  margin: 0 auto;
}

.sa-header-global > .navbar-header {
  padding: 15px 15px 10px;
}

.sa-header-global .navbar-brand {
  position: absolute;
  top: 18px;
  left: 50%;
  width: 130px;
  margin-left: -65px;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 19px;
  border: 1px solid transparent;
}

.sa-header-global .navbar-toggle,
.sa-header-global .navbar-brand {
  display: inline-block;
  float: none;
  height: auto;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15.5px 15px;
  font-size: 18px;
  line-height: 19px;
}

a {
  color: #047dbb;
  text-decoration: none;
  background-color: transparent;
}

.sa-logo {
  width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border: 0;
}

.sa-header-global-menu {
  background-color: #fff;
}

.sa-header-global-menu .navbar-collapse {
  position: absolute;
  top: 5px;
  z-index: 99999;
  width: 100%;
  max-width: 320px;
  min-height: 100vh;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.collapse {
  display: none;
}

.margin-bottom0 {
  margin-bottom: 0 !important;
}

.first-tab {
  position: absolute;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  z-index: 1;
  display: block;
  top: 122px;
  left: 744px;
  align-content: center;
  padding-left: 24px;
}

.first-tab:before {
  content: "";
  position: absolute;
  transform: translateX(-50%) rotate(270deg);
  bottom: -30px;
  right: 70px;
  z-index: 1;
  border: solid 15px transparent;
  border-right-color: #fff;
}

.second-tab {
  position: absolute;
  background: #60cef1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  z-index: 1;
  display: block;
  top: 122px;
  left: 944px;
  align-content: center;
  padding-left: 24px;
}

.second-tab:before {
  content: "";
  position: absolute;
  transform: translateX(-50%) rotate(270deg);
  bottom: -30px;
  right: 50px;
  z-index: 1;
  border: solid 15px transparent;
  border-right-color: #60cef1;
}

.filer-label {
  margin-left: 35px;
  padding-left: 24px;
}

.button-icon {
  color: "white";
  font-size: 20;
  margin-left: 6;
}

.help-link-item {
  padding-bottom: 15px;
}

.contact-hr-image {
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 32px;
  height: 32px;
  width: 32px;
}

[class^="icon-"],
[class*=" icon-"],
.font-icons {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
}
.sa-header-global-btns-search-demo {
  background-image: none;
  background-color: transparent !important;
}

.sa-btn-cta {
  display: inline-block;
  padding: 2px;
  margin-top: 0.3em;
  background-color: #9ccb3e;
  background-image: -webkit-linear-gradient(
    left,
    #9ccb3e 0%,
    #6fbe44 25%,
    #29abe2 50%,
    #77d5f3 100%
  );
  background-image: -o-linear-gradient(
    left,
    #9ccb3e 0%,
    #6fbe44 25%,
    #29abe2 50%,
    #77d5f3 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9ccb3e),
    color-stop(25%, #6fbe44),
    color-stop(50%, #29abe2),
    to(#77d5f3)
  );
  background-image: linear-gradient(
    to right,
    #9ccb3e 0%,
    #6fbe44 25%,
    #29abe2 50%,
    #77d5f3 100%
  );
  background-repeat: no-repeat;
  border-radius: 1.5em;
}

.user-infor {
  background-color: white;
  color: black;
  border-radius: 4px;
  height: 30%;
  padding: 20px;
  margin-bottom: 20px;
}

.help-link {
  background-color: white;
  color: black;
  border-radius: 4px;
  height: 65%;
  padding: 20px;
}

.left-col {
  height: 400px;
  padding-left: 30px;
}

.right-col {
  background-color: white;
  color: black;
  border-radius: 4px;
  height: 100%;
  margin-right: 20px;
  padding-left: 30px;
}

.welcome-text {
  color: white;
  padding-left: 20px;
}

.edit-profile {
  font-weight: bold;
  float: left;
  width: 100%;
}

.image-profile {
  height: 75px;
  width: 75px;
  border-radius: 54px;
  background-color: forestgreen;
  text-align: center;
  font-size: xxx-large;
  color: white;
  float: left;
}

.profile-info {
  float: left;
  padding-left: 25px;
  width: 70%;
}

.display-custom {
  display: block;
}

.display-flex-custom {
  display: flex;
}

.display-custom-revert {
  display: none;
}

.shared-info-title {
}

.shared-info-filter {
}

.filter-label {
  margin-left: 35px;
  padding-left: 24px;
}

.filter-label-sm {
  width: 74%;
  color: white;
  padding-left: 190px;
}

.shared-info-filter select {
  width: 80px;
}

.padding-top60 {
  padding-top: 60px;
}

.sa-boxed {
  border: 1px solid #e6e7e8;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.04);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.04);
  min-height: 80px;
  align-content: center;
  width: 99%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sa-boxed span {
  font-size: small;
}

.float-right {
  float: right;
  margin-top: 5px;
}

.arrow-div-sm {
  background-color: #60cef1;
  border: 1px solid #e6e7e8;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.04);
  width: 94%;
  margin-left: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.tab-label-sm {
  width: 90%;
}

.tab-label-icon-sm {
  width: 10%;
}

@media (min-width: 768px) {
  .sa-header-global-nav-btns .sa-btn-cta .btn {
    margin-left: 0;
  }
  .sa-header-global-nav-btns .sa-btn-cta {
    margin-top: 0;
  }

  .sa-header-global-nav-btns .btn,
  .sa-header-global-nav-btns .sa-btn-cta {
    margin-left: 0.5em;
  }
  .sa-header-global-nav-btns-desc {
    display: inline-block;
  }
  .navbar-static-top {
    border-radius: 0;
  }
  .navbar {
    border-radius: 0;
  }
  .navbar-header {
    float: left;
  }
  .sa-header-global > .navbar-header {
    display: block;
    float: left;
    padding: 18px 15px 15px;
    background-image: none;
  }
  .sa-header-global .navbar-brand {
    position: static;
    width: auto;
    margin: 0;
    vertical-align: middle;
  }
  .sa-header-global .sa-logo {
    width: 130px;
    height: 27px;
  }
  .sa-header-global-menu {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sa-header-global-menu > .navbar-collapse {
    position: static;
    max-width: none;
    min-height: 0;
    padding: 0;
    overflow: visible;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sa-header-global-menu-content {
    text-align: center;
  }
  .sa-header-global-nav-btns {
    margin-right: 1.5em !important;
  }
  .sa-header-global-nav-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    float: right;
    height: 50px;
    margin-top: 0.4375rem;
    margin-right: 3.4375rem;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .sa-header-global > .navbar-header {
    margin-right: 2em;
  }
}

@media (min-width: 64em) {
  .sa-header-global-nav-btns .btn {
    font-size: 0.9375rem;
  }
  .sa-header-global > .navbar-header {
    float: left;
    padding: 20px 0 10px 26px;
  }
  .sa-header-global .sa-logo {
    width: 173px;
    height: 36px;
  }
  .sa-header-global .sa-header-global-menu {
    float: none;
    padding-top: 5px;
  }
  .sa-header-global .sa-header-global-menu > .collapse {
    float: none;
  }
  .sa-header-global-nav-btns {
    height: 62px;
    margin-top: 0;
    margin-right: 3.6em;
  }
}

@media (min-width: 50em) {
  .sa-header-global-nav-btns .btn,
  .sa-header-global-nav-btns .sa-btn-cta {
    margin-left: 0.8em;
  }
  .sa-header-global-nav-btns .sa-btn-cta .btn {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .display-custom {
    display: none;
  }
  .display-flex-custom {
    display: none;
  }

  .display-custom-revert {
    display: flex;
  }

  .right-col {
    background-color: white;
    color: black;
    border-radius: 4px;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 30px;
  }
  .float-right {
    float: left;
    margin-top: 5px;
  }

  .padding-top60 {
    padding-top: 10px;
  }

  .sa-header-global .navbar-toggle,
  .sa-header-global .navbar-brand {
    margin-left: -166px;
  }
}

//End Header
