.float-right {
  float: right;
}

.pr-15px {
  padding-right: 15px;
}

.logo-section {
  .logo {
    padding-bottom: 20px;
  }
}

.circle {
  position: relative;
  width: 80%;
  padding-bottom: 80%;
  background: green;
  border-radius: 50%;
  color: white;
}
.circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.pay-export {
  background-color: #2d469f;
}

.btn-sign-out {
  border-radius: 22px;
  color: #4376b7;
  font-weight: 600;
}

.edit-profile {
  a {
    font-size: 12px;
    color: blue;
    font-weight: 700;
  }
}

.row {
  .user-info {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
}

.user-section {
  display: flex;
  align-items: center;
  padding: 0;
}

.user-position {
  span {
    display: block;
  }

  .name {
    font-weight: 700;
  }

  .company-name {
    font-size: 14px;
  }
}

.welcome {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.section {
  padding: 20px 20px 0 20px;
}

.edit-profile {
  text-align: center;
  width: 80%;
}

.helpful-links {
  background: white;
  border-radius: 10px;
  margin-top: 10px;

  .accordion-button:not(.collapsed) {
    background-color: white;
  }

  .accordion-button:focus {
    box-shadow: none;
  }
}

.accordion .card-header button {
  border: none;
}

.accordion-button {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.text-blue {
  color: #4376b7;
}

.text-black {
  color: black;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.list-helpful-link {
  list-style: none;
  padding: 0;

  .icon {
    padding-left: 10px;
    padding-right: 0;
  }

  li {
    word-wrap: break-word;
    padding-bottom: 10px;

    a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 700;
    }

    span {
      font-size: 15px;
    }
  }
}

.pay-equity-export {
  background: white;
  border-radius: 10px;
  min-height: 400px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.equity-export-item {
  margin: 0 20px 20px 20px;
  padding: 25px 15px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.pay-equity-export-title {
  padding: 20px;

  h4 {
    font-weight: 700;
  }
}

.equity-export-title {
  .equity-title {
    font-weight: 700;
  }

  .equity-summary {
    span {
      padding-right: 20px;
    }
  }
}

.view-export {
  display: flex;
  align-items: center;

  .equity-export-button {
    margin-left: auto;
  }
}

.equity-title {
  padding-bottom: 5px;

  .title-tag {
    color: white;
    background-color: #df7923;
    padding: 3px 10px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 766px) {
  .equity-export-button {
    margin-left: 0 !important;
  }

  .pay-equity-export {
    padding-bottom: 0;
  }

  .view-export {
    padding-top: 20px;
  }

  .equity-export-item {
    margin: 0 10px 10px 10px;
    font-size: 14px;
  }

  .section-title {
    h4 {
      font-size: 16px;
    }
  }

  .user-logo-mobile {
    width: 20% !important;
    padding-bottom: 20% !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
  .circle span {
    font-size: 21px !important;
  }

  .equity-export-button {
    margin-left: 0 !important;
  }

  .view-export {
    padding-top: 20px;
  }

  .left-panel {
    padding-bottom: 20px;
  }

  .user-logo-mobile {
    width: 15% !important;
    padding-bottom: 15% !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  .circle {
    span {
      font-size: 21px !important;
    }
  }

  .equity-export-button {
    .btn.btn-success {
      padding: 0 5px !important;
    }
  }

  .pay-equity-export-title h4 {
    font-size: 20px;
  }

  .user-logo-mobile {
    width: 15% !important;
    padding-bottom: 15% !important;
  }
}

.equity-export-button {
  .btn.btn-success {
    border-radius: 30px;
    background-color: #008000;
    font-weight: 600;
    height: 40px !important;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  i {
    background-color: white;
    color: green;
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .user-logo-mobile {
    width: 30% !important;
    padding-bottom: 30% !important;
  }
}

.section-filter {
  display: flex;
  align-items: center;
  float: right;

  .filter-name {
    padding-right: 10px;
    font-size: 14px;
  }

  .filter-option {
    margin-left: auto;

    .btn.btn-secondary.dropdown-toggle {
      background-color: white;
      color: black;
    }
  }
}

.user-logo-mobile {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background: green;
  border-radius: 50%;
  color: white;
  float: right;
  border: solid 1px white;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 20px;
    font-weight: bold;

    .btn-secondary.dropdown-toggle {
      background-color: #2d469f;
      border: none;
    }
  }
}

.user-profile-mobile {
  display: flex;
  align-items: center;
  justify-content: end;

  .btn.btn-secondary.dropdown-toggle {
    background: none;
    border: none;
    padding: 0 0 0 5px;
  }
}

.accordion-button::after,
.user-option .dropdown-toggle::after {
  display: none;
}

.accordion {
  .collapsed {
    .icon-sa-angles-down {
      display: block;
      margin-left: auto;
    }
    .icon-sa-angles-up {
      display: none;
    }
  }

  .icon-sa-angles-down {
    display: none;
  }
  .icon-sa-angles-up {
    display: block;
    margin-left: auto;
  }
}

.pay-export-filter-mobile {
  padding: 5px 0;

  .filter-name {
    color: white !important;
    font-size: 14px;
  }

  .dropdown-toggle {
    background-color: transparent !important;
    color: white !important;
    border: none;
    font-weight: 700;
    padding-right: 5px;
  }
}
