.profile-pic {
  width: 60px;
  height: 60px;
  font-size: 2rem;
}
.text-decoration-none {
  text-decoration: none;
}
.profile-link a {
  font-size: calc(0.8rem + 0.2vw);
}

.profile-info p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1000px) {
  .profile-pic {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .profile-link {
    padding-left: 1px;
  }
  .profile-link a {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1px;
  }
}
